$black: #3c4858;
$gray: #999;

@mixin sectionformat {
  margin: 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: #999;
}

.body {
  display: flex;
  align-items: center;
  margin: 0;
}
button {
  background-color: #e91e63;
  color: white;
  padding: 15px 30px 15px 30px;
  font-size: 11px;
  border: none;
  border-radius: 50px;
}
h1 {
  margin: 0;
  color: $black;
}
h4 {
  color: $black;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: $gray;
}
.homepage-wrapper {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #e2e2e2;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
  .natureshot {
    text-align: center;

    color: white;
    gap: 5px;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/mountain.jpeg);
    background-size: cover;
    background-position: 25% 60%;
    width: 100%;
    height: 80%;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      padding-top: 12px;
      color: white;
      .left-side {
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 300;
        width: 40vw;
      }
      .right-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20vw;
        font-size: 12px;
        padding-right: 200px;
      }
    }
    .landing-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 150px;
      .landing-title {
        font-size: 70px;
        font-weight: 800;
        margin-bottom: 40px;
      }
      button {
        border-radius: 5px;
        margin-top: 40px;
      }
    }
  }
  .features-row {
    .whitesection {
      text-align: center;
      z-index: 3;
      @include sectionformat;
      margin-top: -60px;
      border-radius: 10px 10px 0 0;
      background-color: white;
      color: $gray;
      padding-top: 50px;
      height: 70vh;
      h5 {
        font-size: 40px;
        font-weight: 200;
        color: $gray;
        padding: 0 300px;
      }
      .iconcolumns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
        height: 200px;
        text-align: center;
        h4 {
          font-size: 18px;
        }
        .red-icon-column {
          width: 25vw;
          i {
            color: #e91e63;
            height: inherit;
            font-size: 80px;
          }
        }
        .blue-icon-column {
          width: 25vw;
          i {
            color: rgb(0, 166, 255);
            height: inherit;
            font-size: 80px;
          }
        }
        .green-icon-column {
          width: 25vw;
          i {
            color: rgb(59, 184, 59);
            height: inherit;
            font-size: 80px;
          }
        }
      }
    }
  }
  .about-row {
    @include sectionformat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(https://wp-themes.com/wp-content/themes/hestia/assets/img/contact.jpg);
    color: white;
    height: 50vh;
    padding: 0 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    h1 {
      color: white;
    }
    .columns {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 80vw;
      .leftcolumn {
        width: 30vw;
      }
      .rightcolumn {
        width: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 150px;
        }
      }
    }
  }
  .blog-row {
    @include sectionformat;
    background-color: white;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    text-align: left;
    h1 {
      padding-bottom: 30px;
    }
    .blog-container {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      p {
        font-weight: 200;
        font-size: 14px;
        color: $gray;
      }
      .blogpurp {
        width: 25vw;
        h5 {
          color: purple;
        }
      }
      .blogblue {
        width: 25vw;
        h5 {
          color: blue;
        }
      }
      .blogred {
        width: 25vw;
        padding-left: 40px;
        h5 {
          color: palevioletred;
        }
      }
    }
  }
  .last-row {
    @include sectionformat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(https://wp-themes.com/wp-content/themes/hestia/assets/img/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    .pieces {
      padding-left: 100px;
    }
    h1 {
      color: white;
    }
    h4 {
      color: white;
    }
    .format1 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 27vw;
      i {
        font-size: 40px;
        align-self: flex-start;
      }
    }
  }
  .footer-row {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftside-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .rightside-footer {
      display: flex;
      justify-content: flex-end;
    }
  }
}
