.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

button {
  background-color: #e91e63;
  color: white;
  padding: 15px 30px 15px 30px;
  font-size: 11px;
  border: none;
  border-radius: 50px;
}

h1 {
  margin: 0;
  color: #3c4858;
}

h4 {
  color: #3c4858;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #999;
}

.homepage-wrapper {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #e2e2e2;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
}

.homepage-wrapper .natureshot {
  text-align: center;
  color: white;
  gap: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/mountain.jpeg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/mountain.jpeg);
  background-size: cover;
  background-position: 25% 60%;
  width: 100%;
  height: 80%;
}

.homepage-wrapper .natureshot .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  padding-top: 12px;
  color: white;
}

.homepage-wrapper .natureshot .header .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 300;
  width: 40vw;
}

.homepage-wrapper .natureshot .header .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20vw;
  font-size: 12px;
  padding-right: 200px;
}

.homepage-wrapper .natureshot .landing-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
}

.homepage-wrapper .natureshot .landing-row .landing-title {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 40px;
}

.homepage-wrapper .natureshot .landing-row button {
  border-radius: 5px;
  margin-top: 40px;
}

.homepage-wrapper .features-row .whitesection {
  text-align: center;
  z-index: 3;
  margin: 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: #999;
          box-shadow: #999;
  margin-top: -60px;
  border-radius: 10px 10px 0 0;
  background-color: white;
  color: #999;
  padding-top: 50px;
  height: 70vh;
}

.homepage-wrapper .features-row .whitesection h5 {
  font-size: 40px;
  font-weight: 200;
  color: #999;
  padding: 0 300px;
}

.homepage-wrapper .features-row .whitesection .iconcolumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  height: 200px;
  text-align: center;
}

.homepage-wrapper .features-row .whitesection .iconcolumns h4 {
  font-size: 18px;
}

.homepage-wrapper .features-row .whitesection .iconcolumns .red-icon-column {
  width: 25vw;
}

.homepage-wrapper .features-row .whitesection .iconcolumns .red-icon-column i {
  color: #e91e63;
  height: inherit;
  font-size: 80px;
}

.homepage-wrapper .features-row .whitesection .iconcolumns .blue-icon-column {
  width: 25vw;
}

.homepage-wrapper .features-row .whitesection .iconcolumns .blue-icon-column i {
  color: #00a6ff;
  height: inherit;
  font-size: 80px;
}

.homepage-wrapper .features-row .whitesection .iconcolumns .green-icon-column {
  width: 25vw;
}

.homepage-wrapper .features-row .whitesection .iconcolumns .green-icon-column i {
  color: #3bb83b;
  height: inherit;
  font-size: 80px;
}

.homepage-wrapper .about-row {
  margin: 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: #999;
          box-shadow: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(https://wp-themes.com/wp-content/themes/hestia/assets/img/contact.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://wp-themes.com/wp-content/themes/hestia/assets/img/contact.jpg);
  color: white;
  height: 50vh;
  padding: 0 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.homepage-wrapper .about-row h1 {
  color: white;
}

.homepage-wrapper .about-row .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
}

.homepage-wrapper .about-row .columns .leftcolumn {
  width: 30vw;
}

.homepage-wrapper .about-row .columns .rightcolumn {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage-wrapper .about-row .columns .rightcolumn img {
  height: 150px;
}

.homepage-wrapper .blog-row {
  margin: 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: #999;
          box-shadow: #999;
  background-color: white;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  text-align: left;
}

.homepage-wrapper .blog-row h1 {
  padding-bottom: 30px;
}

.homepage-wrapper .blog-row .blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.homepage-wrapper .blog-row .blog-container p {
  font-weight: 200;
  font-size: 14px;
  color: #999;
}

.homepage-wrapper .blog-row .blog-container .blogpurp {
  width: 25vw;
}

.homepage-wrapper .blog-row .blog-container .blogpurp h5 {
  color: purple;
}

.homepage-wrapper .blog-row .blog-container .blogblue {
  width: 25vw;
}

.homepage-wrapper .blog-row .blog-container .blogblue h5 {
  color: blue;
}

.homepage-wrapper .blog-row .blog-container .blogred {
  width: 25vw;
  padding-left: 40px;
}

.homepage-wrapper .blog-row .blog-container .blogred h5 {
  color: palevioletred;
}

.homepage-wrapper .last-row {
  margin: 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: #999;
          box-shadow: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(https://wp-themes.com/wp-content/themes/hestia/assets/img/contact.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://wp-themes.com/wp-content/themes/hestia/assets/img/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.homepage-wrapper .last-row .pieces {
  padding-left: 100px;
}

.homepage-wrapper .last-row h1 {
  color: white;
}

.homepage-wrapper .last-row h4 {
  color: white;
}

.homepage-wrapper .last-row .format1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27vw;
}

.homepage-wrapper .last-row .format1 i {
  font-size: 40px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.homepage-wrapper .footer-row {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage-wrapper .footer-row .leftside-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage-wrapper .footer-row .rightside-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=homepage.css.map */