$black: #3c4858;
$gray: #999;
.body {
  display: flex;
  align-items: center;
}
button {
  background-color: #e91e63;
  color: white;
  padding: 15px 30px 15px 30px;
  font-size: 11px;
  border: none;
  border-radius: 50px;
}
h1 {
  color: $black;
}
h4 {
  color: $black;
}
.homepage-wrapper {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% auto;
  .natureshot {
    color: white;
    height: 100%;
    width: 100%;
    opacity: 90%;
    z-index: -1;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      padding-top: 12px;
      color: white;
      .left-side {
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 300;
        width: 30vw;
      }
      .right-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40vw;
        font-size: 12px;
        padding-right: 200px;
      }
    }
    .landing-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 250px;
      .landing-title {
        font-size: 70px;
        font-weight: 800;
      }
      button {
        border-radius: 5px;
      }
    }
  }
  .features-row {
    .whitesection {
      text-align: center;
      z-index: 3;
      margin: 0 20px;
      margin-top: -20px;
      border-radius: 10px 10px 0 0;
      background-color: white;
      color: $gray;
      padding-top: 50px;
      height: 1fr;
      .iconcolumns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 12px;
        height: 200px;
        text-align: center;
        // .red-icon-column {
        // }
        // .blue-icon-column {
        // }
        // .pink-icon-column {
        // }
      }
    }
    .pagebuilder {
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 800px;
      margin: 0 20px;
      padding: 0 20px;
      .pagebuilder-title {
        font-size: 35px;
        font-family: "Roboto Slab", sans-serif;
      }
      .videoclip {
        background-image: url(https://i.ytimg.com/vi_webp/twgL6jnx5II/maxresdefault.webp);
        height: 400px;
        width: 600px;
        background-position: center;
      }
    }
    .products {
      background-color: #f0f0f0;
      margin: 0 20px;
      padding: 0 20px;
      .prod-description {
        h1 {
          margin: 0;
        }
      }
      .prod-pieces {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
