.body {
  display: flex;
  align-items: center;
}
button {
  background-color: #e91e63;
  color: white;
  padding: 15px 30px 15px 30px;
  font-size: 11px;
  border: none;
  border-radius: 50px;
}
.homepage-wrapper {
  font-family: "Roboto", sans-serif;
  .natureshot {
    color: white;
    height: 100%;
    width: 100vw;
    background-color: darkslategrey;
    opacity: 90%;
    z-index: 0;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      padding-top: 12px;
      color: white;
      .left-side {
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 300;
        width: 30vw;
      }
      .right-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40vw;
        font-size: 12px;
        padding-right: 200px;
      }
    }
    .landing-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 250px;
      .landing-title {
        font-size: 70px;
        font-weight: 800;
      }
      button {
        border-radius: 5px;
      }
    }
  }
  .features-row {
    .whitesection {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      background-color: lightblue;
      .iconcolumns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 12px;
        height: 200px;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 1fr;
        background-color: red;
        // .red-icon-column {
        // }
        // .blue-icon-column {
        // }
        // .pink-icon-column {
        // }
      }
    }
  }
}
